<a class="flex flex-col hover:bg-purple-900 items-center border-3 border-orange-500 rounded-3xl p-2 m-2 bg-purple-800/30 shadow-2xl transition-all duration-300 hover:scale-105"
   href="{{ path('app_aboba_page', {id: obj.id }) }}">
    <span class="text-yellow-300 text-2xl">{{ obj.name }}</span>
</a>
