{% extends 'base.html.twig' %}

{% block title %} Приветики {% endblock %}

{% block body %}
    <div class="flex flex-col items-center px-4 border-3 border-orange-500 rounded-3xl p-4 bg-purple-800/30 shadow-2xl">
        <h1 class="text-6xl text-orange-400 pb-1">Абобы</h1>
        <div>
            {% for obj in aboba %}
                {{ include('app/_partials/_abobaButton.html.twig') }}
            {% endfor %}
        </div>
        {{ include('app/_partials/_abobaWeather.html.twig') }}
    </div>
{% endblock %}
