{% extends 'base.html.twig' %}

{% block title %} Приветики {% endblock %}

{% block body %}
    <h1 class="aboba-title">Абобы</h1>
    {% for obj in aboba %}
            <a class="aboba-link" href="{{ path('app_aboba_page', {id: obj.id }) }}">
                {{ obj.name }}
            </a>
        <br>
    {% endfor %}
{% endblock %}
